<html>
  <head>
    <script is:inline>
      (function() {
        var supported = new Set(["en", "es"]);
        var lang = (navigator.language || "en").split("-")[0];
        if (!supported.has(lang)) lang = "en";
        window.location.replace("/" + lang + "/");
      })();
    </script>
    <noscript>
      <meta http-equiv="refresh" content="0;url=/en/" />
    </noscript>
  </head>
  <body></body>
</html>
